<!doctype html>
<html lang="en" ng-app>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- STYLES -->
    <link href="//yui.yahooapis.com/pure/0.4.2/pure-min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <!-- script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js"></script>
</head>
<body>
    <p>Nothing here {{'yet' + '!'}}</p>

    <script src="/js/app.js"></script>
</body>
</html>