<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- STYLES -->
    <link href="//yui.yahooapis.com/pure/0.4.2/pure-min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">

    <!-- SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>

    <script src="/js/mui-directives.js"></script>
    <script src="/js/app.js"></script>
</head>
<body>

    <div ng-app="vvtApp">
        <div decoder resize>
            <form>
                <div>{{decoder.year}}</div>
                <select ng-model="decoder.year" ng-change="changed('year')" ng-options="year.name for year in decoder.years"></select>
                <select ng-model="decoder.make" ng-change="changed('make')" ng-options="make.name for make in decoder.makes"></select>
                <select ng-model="decoder.model" ng-change="changed('model')" ng-options="model.name for model in decoder.models"></select>
                <select ng-model="decoder.trim" ng-change="changed('trim')" ng-options="trim.name for trim in decoder.trims"></select>
            </form>
        </div>
        <div valuation>
            <h3>{{decoder.ymmt()}}</h3>
        </div>
        <div transactions>
            <h3>Transactions</h3>
            <mui-panel panel-title="Sort" panel-mode="overlay" class="sort-panel">
                <ul>
                    <li><b>Date:</b><div class="btn-group">
                        <label class="radio-btn"><input type="radio" name="sort" ng-model="data.sort" ng-value="{by: 'date', order: true}" ng-checked="data.sort.by === 'date' && data.sort.order"><span class="btn btn-default"> Newest</span></label>
                        <label class="radio-btn"><input type="radio" name="sort" ng-model="data.sort" ng-value="{by: 'date', order: false}" ng-checked="data.sort.by === 'date' && !data.sort.order"><span class="btn btn-default"> Oldest</span></label>
                    </div></li>
                    <li><b>Price:</b><div class="btn-group">
                        <label class="radio-btn"><input type="radio" name="sort" ng-model="data.sort" ng-value="{by: 'price', order: false}" ng-checked="data.sort.by === 'price' && !data.sort.order"><span class="btn btn-default"> Lowest</span></label>
                        <label class="radio-btn"><input type="radio" name="sort" ng-model="data.sort" ng-value="{by: 'price', order: true}" ng-checked="data.sort.by === 'price' && data.sort.order"><span class="btn btn-default"> Highest</span></label>
                    </div></li>
                    <li><b>Odometer:</b><div class="btn-group">
                        <label class="radio-btn"><input type="radio" name="sort" ng-model="data.sort" ng-value="{by: 'odometer', order: false}" ng-checked="data.sort.by === 'odometer' && !data.sort.order"><span class="btn btn-default"> Lowest</span></label>
                        <label class="radio-btn"><input type="radio" name="sort" ng-model="data.sort" ng-value="{by: 'odometer', order: true}" ng-checked="data.sort.by === 'odometer' && data.sort.order"><span class="btn btn-default"> Highest</span></label>
                    </div></li>
                    <li><b>CR:</b><div class="btn-group">
                        <label class="radio-btn"><input type="radio" name="sort" ng-model="data.sort" ng-value="{by: 'condition', order: false}" ng-checked="data.sort.by === 'condition' && !data.sort.order"><span class="btn btn-default"> Lowest</span></label>
                        <label class="radio-btn"><input type="radio" name="sort" ng-model="data.sort" ng-value="{by: 'condition', order: true}" ng-checked="data.sort.by === 'condition' && data.sort.order"><span class="btn btn-default"> Highest</span></label>
                    </div></li>
                </ul>
            </mui-panel>

            <table class="pure-table pure-table-bordered" style="width: 100%;">
                <thead class="mobile-hide">
                    <tr>
                        <th ng-repeat="header in data.headers" class="col-{{header.key}}">
                            <span ng-if="header.sortable" ng-click="sortBy(header.key)" ng-class="">{{header.label}}</span>
                            <span ng-if="!header.sortable">{{header.label}}</span>
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr><td colspan="{{data.headers.length}}" style="border-top:1px solid #CBCBCB; text-align: right;">{{data.transactions.length}} out of {{data.total}}</td></tr>
                </tfoot>
                <tbody>
                    <tr class="mobile-hide" ng-repeat-start="item in data.transactions | orderBy: data.sort.by: data.sort.order" ng-class-odd="'pure-table-odd'" ng-class-even="'pure-table-even'">
                        <td class="col-date">{{item.date | date: 'MM/dd/yyyy'}}<span class="panel-spacer"></span></td>
                        <td class="col-price">{{item.price | currency}}<span class="panel-spacer"></span></td>
                        <td class="col-odometer">{{item.odometer | number}}<span class="panel-spacer"></span></td>
                        <td class="col-condition">{{item.condition}}<span class="panel-spacer"></span></td>
                        <td class="col-engine">{{item.engine}}<span class="panel-spacer"></span></td>
                        <td class="col-color">{{item.color}}<span class="panel-spacer"></span></td>
                        <td class="col-type">{{item.type}}<span class="panel-spacer"></span></td>
                        <td class="col-region">{{item.region}}<span class="panel-spacer"></span></td>
                        <td class="col-auction">{{item.auction}}<span class="panel-spacer"></span></td>
                    </tr>
                    <tr class="small-view mobile-show" ng-class-odd="'pure-table-odd'" ng-class-even="'pure-table-even'">
                        <td colspan="{{data.headers.length}}">
                            <div class="pure-g panel-spacer">
                                <div class="pure-u-1-2">{{item.date | date: 'MM/dd/yyyy'}}</div>
                                <div class="pure-u-1-2">{{item.price | currency}}</div>
                                <div class="pure-u-1-2">{{item.odometer | number}}</div>
                                <div class="pure-u-1-2">{{item.condition}}</div>
                            </div>
                        </td>
                    </tr>
                    <tr class="details" ng-repeat-end  ng-class-odd="'pure-table-odd'" ng-class-even="'pure-table-even'">
                        <td colspan="{{data.headers.length}}">
                            <mui-panel>
                                <ul>
                                    <li class="detail-date"><b>Date:</b> {{item.date | date: 'MM/dd/yyyy'}}</li>
                                    <li class="detail-price"><b>Price:</b> {{item.price | currency}}</li>
                                    <li class="detail-odometer"><b>Odometer:</b> {{item.odometer | number}}</li>
                                    <li class="detail-condition"><b>Condition:</b> {{item.condition}}</li>
                                    <li class="detail-engine"><b>Engine:</b> {{item.engine}}</li>
                                    <li class="detail-color"><b>Color:</b> {{item.color}}</li>
                                    <li class="detail-type"><b>Type:</b> {{item.type}}</li>
                                    <li class="detail-region"><b>Region:</b> {{item.region}}</li>
                                    <li class="detail-auction"><b>Auction:</b> {{item.auction}}</li>
                                </ul>
                            </mui-panel>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>National Historical Averages</h3>
        </div>
    </div>


</body>
</html>
