doctype html
html(lang="en" ng-app)
  head
    title= title
    link(href="//yui.yahooapis.com/pure/0.4.2/pure-min.css" rel="stylesheet")
    link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet")
    link(href="/css/app.css" rel="stylesheet")
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js')
  body
    block content