body {
    padding: 1em;
}

.panel-overlay {
    position: relative;
}
.panel-overlay .panel-trigger {
    height: 25px;
    line-height: 25px;
}
.panel-overlay .panel-content {
    text-align: left;
    position: absolute;
    z-index: 1000;
    left: 8px;
    top: 28px;

    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.panel-overlay .panel-content:before {
    content: '';
    display: block;
    position: absolute;
    left: 5px;
    top: -10px;
    border-style: solid;
    border-color: transparent transparent #bbb;
    border-width:0 10px 10px;
}
.panel-overlay .panel-content:after {
  content: '';
  display: block;
  position: absolute;
  left: 5px;
  top: -9px;
  border-style: solid;
  border-color: transparent transparent #fff;
  border-width:0 10px 10px;
}
.sort-panel .panel-content ul {
    margin: 15px;
    padding: 0;
}
.sort-panel .panel-content li {
    list-style: none;
    clear: both;
    line-height: 3em;
}
.sort-panel .panel-content li b {
    display: inline-block;
    width: 30%;
}
.sort-panel .btn-group {
    margin-left: 20px;
    float: right;
}








.radio-btn {
    float: left;
}
.radio-btn .btn {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    padding: 6px 12px;
}
.radio-btn .btn:hover {
    background: #f2f2f2;
}
.radio-btn input {
    display: none;
}
.radio-btn input:checked + span {
    background: #ddd;
}
.radio-btn + .radio-btn span {
    border-left-width: 0;
}
.radio-btn:first-child span {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.radio-btn:last-child span {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}



@media screen and (min-width: 420px) {
    .mobile-show {
        display: none;
    }
}

@media screen and (max-width: 420px) {
    .mobile-hide {
        display: none;
    }
}

/* As we resize , we want to hide and show different transaction columns */
.details td {
    padding: 0;
}
.details .panel {
    position: relative;
}
.details .panel-trigger {
    position: absolute;
    top: -26px;
    right: 5px;
}
.details ul {
    margin: 0;
    padding: 0;
}
.details li {
    display: none;
    line-height: 1.8em;
    padding: 0 10px;
}
table .panel-spacer {
    padding-right: 1.5em;
    display: none;
}
@media screen and (min-width: 950px) {
    .details {
        display: none;
    }
}
@media screen and (max-width: 950px) {
    .col-region { display: none;}
    .details .detail-region { display: block; }
    .col-auction .panel-spacer { display: inline; }
}
@media screen and (max-width: 875px) {
    .col-engine { display: none;}
    .details .detail-engine { display: block; }
}
@media screen and (max-width: 780px) {
    .col-auction { display: none;}
    .details .detail-auction { display: block; }
    .col-type .panel-spacer { display: inline; }
}
@media screen and (max-width: 550px) {
    .col-type { display: none;}
    .details .detail-type { display: block; }
    .col-color .panel-spacer { display: inline; }
}
@media screen and (max-width: 450px) {
    .col-color { display: none;}
    .details .detail-color { display: block; }
    .small-view .panel-spacer { display: block; }
}

