<script type="text/x-template" id="app-template">
    <div id="app">
        <!-- ko view: $view.decoder --><!-- /ko -->
        <!-- ko view: $view.transactions --><!-- /ko -->
    </div>
</script>

<script type="text/x-template" id="decoder-template">
    <div id="decoder">
        <select data-bind="optionsCaption: 'Year',  optionsText: 'text', optionsValue: 'value', options: $view.decoder.years,  value: $view.decoder.year"></select>
        <select data-bind="optionsCaption: 'Make',  optionsText: 'text', optionsValue: 'value', options: $view.decoder.makes,  value: $view.decoder.make,  enable: $view.decoder.year"></select>
        <select data-bind="optionsCaption: 'Model', optionsText: 'text', optionsValue: 'value', options: $view.decoder.models, value: $view.decoder.model, enable: $view.decoder.make"></select>
        <select data-bind="optionsCaption: 'Trim',  optionsText: 'text', optionsValue: 'value', options: $view.decoder.trims,  value: $view.decoder.trim,  enable: $view.decoder.model"></select>

        <h3 data-bind="text: $view.ymmt"></h3>
    </div>
</script>

<script type="text/x-template" id="trxs-template">
    <!-- ko if: $view.hasTransactions() -->
    <div id="table">
        <button data-bind="click: $view.toggleSort">Sort</button>
        <table class="pure-table pure-table-striped">
            <thead>
                <tr>
                    <th>Date Sold</th>
                    <th>Price</th>
                    <th>Odo</th>
                    <th>Cond</th>
                    <th>Eng/Trans</th>
                    <th>Color</th>
                    <th>Type</th>
                    <th>Region</th>
                    <th>Manheim Auction</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="9" style="text-align: right; border-top: 1px solid #CBCBCB">
                        <!-- ko if: $view.hasTransactions -->
                            <!-- ko if: $view.showingAll -->
                                <button data-bind="click: $view.toggleShowAll">Show Less</button>
                            <!-- /ko -->

                            <!-- ko ifnot: $view.showingAll -->
                                Showing <!-- ko text: $view.pageSize --><!-- /ko -->
                                of <!-- ko text: $view.transactions.length --><!-- /ko -->

                                <!-- ko if: $view.pageSize() < $view.transactions.length() -->
                                <button data-bind="click: $view.toggleShowAll">Show All</button>
                                <!-- /ko -->
                            <!-- /ko-->
                        <!-- /ko -->

                        <!-- ko ifnot: $view.hasTransactions -->
                            Showing 0 transactions used in MMR
                        <!-- /ko -->
                    </td>
                </tr>
            </tfoot>
            <tbody data-bind="foreach: $view.viewableTransactions">
                <tr>
                    <td data-bind="text: dateSold"></td>
                    <td data-bind="text: price"></td>
                    <td data-bind="text: odometer"></td>
                    <td data-bind="text: condition"></td>
                    <td data-bind="text: engine"></td>
                    <td data-bind="text: color"></td>
                    <td data-bind="text: type"></td>
                    <td data-bind="text: region"></td>
                    <td data-bind="text: auction"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /ko -->
</script>